<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="servoarm">
  <xacro:macro name="arm">


    <group name="arm">
	    <!--
        <link name="base_link"/>
        <link name="platform"/>
        <link name="lower_arm"/>
        <link name="top_arm"/>
        <link name="wrist"/>

        <joint name="base_joint"/>
        <joint name="platform_joint"/>
        <joint name="lower_joint"/>
        <joint name="top_joint"/>
	    -->
        <chain base_link="base_link" tip_link="eef_link"/>
    </group>



    <group_state name="ready" group="arm">
      <joint name="base_joint" value="0.017" />
      <joint name="platform_joint" value="0.017" />
      <joint name="lower_joint" value="0.017" />
      <joint name="top_joint" value="0.017" />
    </group_state>

    <group_state name="pose1" group="arm">
      <joint name="base_joint" value="1.0" />
      <joint name="platform_joint" value="1.0" />
      <joint name="lower_joint" value="0.017" />
      <joint name="top_joint" value="0.017" />
    </group_state>

    <group_state name="extended" group="arm">
      <joint name="base_joint" value="0.5" />
      <joint name="platform_joint" value="0.5" />
      <joint name="lower_joint" value="0.5" />
      <joint name="top_joint" value="0.5" />
    </group_state>


    <virtual_joint name="virtual_joint" type="floating" parent_frame="world" child_link="base_link" />

    <disable_collisions link1="base_link" link2="platform" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="lower_arm" reason="Never"/>

    <disable_collisions link1="lower_arm" link2="platform" reason="Adjacent"/>
    <disable_collisions link1="lower_arm" link2="wrist" reason="Never"/>

    <disable_collisions link1="top_arm" link2="lower_arm" reason="Adjacent"/>

    <disable_collisions link1="wrist" link2="top_arm" reason="Adjacent"/>

    <disable_collisions link1="platform" link2="wrist" reason="Never"/>



  </xacro:macro>
</robot>
