<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="servoarm">
  <xacro:macro name="hand">

    <group name="hand">
        <link name="clawbase"/>
        <link name="clawr"/>
        <link name="clawl"/>
        <joint name="clawl_joint"/>
        <passive_joint name="clawr_joint"/>
        <joint name="hand_joint"/>
         <!--
        <chain base_link="eef_link" tip_link="clawl"/>
	 -->
    </group>


    <disable_collisions link1="clawbase" link2="clawr" reason="Adjacent" />
    <disable_collisions link1="clawbase" link2="clawl" reason="Adjacent" />
    <disable_collisions link1="clawr" link2="clawl" reason="Default" />


  </xacro:macro>
</robot>

