<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="servoarm">

  <xacro:include filename="arm.xacro" />
  <xacro:arm />

  <xacro:include filename="hand.xacro" />
  <xacro:hand />

  <group name="arm_hand">
    <group name="arm" />
    <group name="hand" />
  </group>


  <group_state name="open" group="hand">
     <joint name="clawl_joint" value="0.4" />
     <!--
     <joint name="clawr_joint" value="-0.4" />
     -->
  </group_state>

  <group_state name="close" group="hand">
     <joint name="clawl_joint" value="0" />
     <!--
     <joint name="clawr_joint" value="0" />
     <joint name="hand_joint" value="0" />
     -->
  </group_state>


  <end_effector name="hand" parent_link="eef_link" group="hand" parent_group="arm" />


    <disable_collisions link1="clawbase" link2="eef_link" reason="Never"/>
    <disable_collisions link1="clawbase" link2="lower_arm" reason="Never"/>
    <disable_collisions link1="clawbase" link2="top_arm" reason="Never"/>
    <disable_collisions link1="clawbase" link2="wrist" reason="Adjacent"/>
    <disable_collisions link1="clawl" link2="lower_arm" reason="Never"/>
    <disable_collisions link1="clawl" link2="top_arm" reason="Never"/>
    <disable_collisions link1="clawl" link2="wrist" reason="Never"/>
    <disable_collisions link1="clawr" link2="lower_arm" reason="Never"/>
    <disable_collisions link1="clawr" link2="top_arm" reason="Never"/>
    <disable_collisions link1="clawr" link2="wrist" reason="Never"/>

</robot>

