<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="servoarm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <xacro:include filename="urdf/arm.urdf" />

    <xacro:include filename="arm.ros2_control.xacro" />
    <xacro:include filename="hand.ros2_control.xacro" />


    <xacro:arm_ros2_control name="ServoarmArmFakeSystem"   initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    <xacro:hand_ros2_control name="ServoarmHandFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>


</robot>
